
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center; 
      background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('logos/Aback.png'); /* fundo degradê */
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-attachment: fixed; /* não quebra ao rolar */
      overflow: hidden;
    }

    .side-img {
      max-width: 140px;
      animation: float 3s ease-in-out infinite;
      filter: drop-shadow(0 15px 18px rgba(0, 0, 0, 0.4));
    }

    .side-img.right {
    transform: scaleX(-1);
    }
    .card {
      background: #f5f2f2;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.1);
      width: 100%;
      max-width: 350px;
      opacity: 0.85;
      text-align: center;
    }

    .card h2 {
      margin-bottom: 20px;
      color: #333;
    }

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 20px;
      opacity: 0.9;
    }

    .input-group input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 16px;
      opacity: 0.9;
    }

    button {
      width: 70%;
      padding: 12px;
      border: none;
      border-radius: 6px;
      background: #007bff;
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.1s ease;
    }

    button:hover {
      background: #0056b3;
    }

    #saida {
      margin-top: 15px;
      font-size: 14px;
      color: #333;
    }


    .confirma{
  display:none; 
  text-align:center; 
  margin-top:20px;
}

.pconfirmado {
width: 5px;
  margin-bottom: 15px;
  transition: opacity 0.3s ease-in-out;
}

.mconfirma {
  font-size:18px; 
  color:#2e8b57; 
  font-weight:bold; 
  margin-top:10px;
}
